<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보드</title>
    <link rel="stylesheet" href="/css/home.css">
    <script defer src="/js/home.js"></script>
</head>
<body>
<header>
    <h1 id="board-title">보드 이름</h1>
</header>
<main>
    <div id="columns-container" class="columns-container">

    </div>
    <button id="add-column-btn" class="add-column-btn">컬럼 추가하기</button>
</main>
</body>
</html>
